Options -Indexes
Options +FollowSymLinks

# Schütze sensitive Dateien
<Files "config.php">
  Require all denied
</Files>

<Files "setup.php">
  Require all denied
</Files>

<FilesMatch "\.(json|log)$">
  Require all denied
</FilesMatch>
